@font-face {
  font-family: "Lato Black";
  src: local("Lato-Black"), local("Lato Black"), url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato-Regular"), local("Lato Regular"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  background: #262D33;
  padding: 15px 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-menu-toggle {
  display: none;
}

.menu-item a {
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin: 0 15px;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #656B70;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px 25px;
}

.search-form input::-webkit-input-placeholder {
  color: #939699;
}

.search-form input:-ms-input-placeholder {
  color: #939699;
}

.search-form input::-ms-input-placeholder {
  color: #939699;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    margin: 0 10px;
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: 30%;
  }
  .header-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-nav {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    padding-top: 20px;
    width: 100%;
  }
  .header-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-item a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-left: auto;
    width: 40%;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    background-color: #fff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    width: calc( 40% + 40px);
    -webkit-box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.4);
            box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.4);
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .header .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 400px) {
  .header-wrapper .custom-logo {
    width: 100px;
  }
  .header-wrapper .custom-logo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  background: #262D33;
  position: relative;
  padding-top: 30px;
  height: 475px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  position: relative;
  z-index: 1;
}

.hero .left {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(64, 48, 61, 0.35);
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .left .author {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  z-index: 3;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-text {
  z-index: 3;
  position: relative;
}

.hero .left .post-text .post-title {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .right {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background: #fff;
}

.hero .right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
  height: calc( 100% - 60px);
}

.hero .right .post {
  padding-left: 25px;
  padding-right: 25px;
  height: 20%;
  margin-bottom: 0;
  border-top: 1px solid #D9DADB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .right .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .right .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .right .post-permalink {
  text-decoration: none;
  color: #4b5157;
}

.hero .right .post:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}

.hero .right .post-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.more {
  display: inline-block;
  color: #fff;
  border-radius: 20px;
  background: #4592FF;
  width: 154px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.more:visited {
  color: #fff;
}

.more:focus {
  color: #fff;
}

.more:hover {
  color: #fff;
}

.more-img {
  margin-left: 8px;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.category-link:visited {
  color: #4592FF;
}

.category-link.web-design {
  color: #FFA34D;
}

.category-link.web-design:visited {
  color: #FFA34D;
}

.category-link.javascript {
  color: #6E99AE;
}

.category-link.javascript:visited {
  color: #6E99AE;
}

.category-link.css {
  color: #3DC47E;
}

.category-link.css:visited {
  color: #3DC47E;
}

.category-link.html {
  color: #AC8EE3;
}

.category-link.html:visited {
  color: #AC8EE3;
}

@media screen and (max-width: 1200px) {
  .hero .right {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero .right .post {
    padding: 20px;
  }
  .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 500px) {
  .hero .left {
    padding: 20px 15px 30px;
  }
  .hero .left .post-text .post-title {
    font-size: 30px;
  }
}

.article-list {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  width: 1px;
  height: 70%;
  background: #4B5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  color: #fff;
  width: 150px;
}

.article-permalink:hover {
  color: #fff;
}

.article-permalink:visited {
  color: #fff;
}

.article-title {
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .article-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-item {
    width: 50%;
    padding: 25px;
  }
  .article-permalink {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    margin-top: 30px;
  }
  .article-item {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
    width: 100%;
  }
  .article-item:not(:last-child) {
    border-bottom: 1px solid #4B5157;
  }
}

.main-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article-grid {
  max-width: 74%;
  margin: 30px 0 60px;
  padding: 0;
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  -ms-grid-rows: (minmax(200px, max-content))[3];
      grid-template-rows: repeat(3, minmax(200px, -webkit-max-content));
      grid-template-rows: repeat(3, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, -webkit-max-content);
  grid-auto-rows: minmax(200px, max-content);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 55px;
  position: relative;
}

.article-grid-item-1::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 56px;
  left: 0;
  position: absolute;
  background-color: #D9DADB;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-thumb {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 55px;
  width: 40%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

.article-grid-item-1 .article-grid-title {
  width: 250px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 250px;
}

.article-grid-item-1 .article-grid-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-right: 35px;
  padding-left: 35px;
  width: 100%;
  height: 57px;
  background-color: #fff;
}

.article-grid-item-1 .article-grid-info .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  width: 390px;
  white-space: normal;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-1 .article-grid-info .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-1 .article-grid-info .comments-counter {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

.article-grid-item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: "";
  position: absolute;
  z-index: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(46, 44, 46, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(46, 44, 46, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  left: 0;
  top: 0;
  z-index: 0;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  margin-top: 23px;
  margin-bottom: 27px;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  color: #E7D9FF;
  font-family: 'Lato Black', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  margin-top: auto;
}

.article-grid-item-2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 10px;
  color: #ffffff;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 35px;
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  padding: 25px 25px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-grid-item-default .article-grid-title {
  margin: 0;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
  margin-bottom: 5px;
}

.article-grid-item-default .article-grid-excerpt {
  margin-top: auto;
  margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
  .article-grid {
    -ms-grid-columns: (minmax(40%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .article-grid {
    width: 65%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (minmax(300px, max-content))[3];
        grid-template-rows: repeat(3, minmax(300px, -webkit-max-content));
        grid-template-rows: repeat(3, minmax(300px, max-content));
  }
  .article-grid-item {
    grid-area: auto;
  }
  .article-grid-item .tag {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .main-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-grid {
    width: 100%;
    max-width: initial;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .article-grid-item-1 .article-grid-thumb {
    display: none;
  }
  .article-grid-item-1 .article-grid-title {
    width: 100%;
  }
  .article-grid-item-1 .article-grid-excerpt {
    width: 100%;
  }
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  margin-left: 30px;
  margin-top: 30px;
  width: calc( 26% - 30px);
}

.sidebar-front-page .widget-social_networks {
  padding: 30px 10px;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-downloader {
  background: #3BBDC4 url("../images/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 65px;
  position: relative;
}

.widget-downloader .widget-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #fff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .widget-description {
  color: #C1F4F5;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget_tag_cloud .widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
  text-transform: uppercase;
}

.widget_tag_cloud .tagcloud {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 35px;
}

.widget_tag_cloud .tag-cloud-link {
  margin-right: 10px;
  margin-bottom: 15px;
  font-family: "Lato Black", sans-serif;
  text-decoration: none;
  line-height: 20px;
  color: #262D33;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  text-transform: capitalize;
}

.widget-social_networks {
  text-align: center;
}

.widget-social_networks .widget-title {
  margin-top: 0;
}

.widget-social_networks .widget-link {
  display: inline-block;
  margin: 5px 10px;
}

.widget-recent-posts .widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.widget-recent-posts-wrapper {
  padding: 0 25px;
}

.widget-recent-posts-wrapper a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
  padding: 17px 0;
  position: relative;
}

.widget-recent-posts-wrapper a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts-wrapper a::before {
  counter-increment: section;
  content: counter(section);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: "Lato Black", sans-serif;
  font-size: 70px;
  font-style: italic;
  line-height: 50px;
  color: #262D33;
  opacity: 0.08;
}

.widget-recent-posts-wrapper img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.widget-recent-posts-wrapper h4 {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin: 0;
  margin-bottom: 5px;
}

.widget-recent-posts-wrapper span {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

@media screen and (max-width: 1200px) {
  .sidebar-front-page {
    width: 30%;
    margin-left: 0;
  }
}

@media screen and (max-width: 960px) {
  .sidebar-front-page {
    width: 100%;
  }
  .widget-recent-posts-wrapper {
    max-width: 370px;
    margin: 0 auto;
  }
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 946px;
  margin: auto;
  margin-bottom: 25px;
}

.investigation .more {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .investigation-title {
    font-size: 25px;
  }
}

.article-block-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 30px 0 60px;
}

.article-block-grid .article-block {
  width: 74%;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 25px;
  margin-top: 30px;
}

.article-block-grid .article-block-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 25px 0;
}

.article-block-grid .article-block-item:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.article-block-grid .article-block-item-thumb {
  width: 336px;
  height: 195px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: initial;
}

.article-block-grid .article-block-item-content {
  margin-left: 25px;
  position: relative;
  height: 195px;
}

.article-block-grid .article-block-item-content .category-name {
  font-family: "Lato Black", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
  color: #4592FF;
}

.article-block-grid .article-block-item-content-title {
  font-family: "Roboto Slab", sans-serif;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  margin: 15px 0 10px;
  text-decoration: none;
  display: block;
}

.article-block-grid .article-block-item-content-title:visited {
  color: #262D33;
}

.article-block-grid .article-block-item-content-title:focus {
  color: #262D33;
}

.article-block-grid .article-block-item-content-title:hover {
  color: #262D33;
}

.article-block-grid .article-block-item-content-excerpt {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-bottom: 20px;
}

.article-block-grid .article-block-item-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 15px;
  color: #939699;
  position: absolute;
  left: 0;
  bottom: 0;
}

.article-block-grid .article-block-item-content-info .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.article-block-grid .article-block-item-content-info .comments-icon {
  margin-right: 5px;
}

.article-block-grid .article-block-item-content-info .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
}

.article-block-grid .article-block-item-content-info .likes img {
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  .article-block-grid .article-block {
    width: calc( 70% - 30px);
  }
  .article-block-grid .article-block-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-block-grid .article-block-item-thumb {
    width: 100%;
  }
  .article-block-grid .article-block-item-content {
    margin-left: 0;
    height: auto;
  }
  .article-block-grid .article-block-item-content-excerpt {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 960px) {
  .article-block-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .article-block-grid .article-block {
    width: 100%;
  }
}

.special {
  background-color: #262D33;
  padding: 60px 0;
  color: #ffffff;
}

.special-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: calc( 50% - 15px);
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.photo-report .category-link {
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  border-radius: 3px;
  background: #3DC47E;
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-transform: none;
  padding: 5px 12px;
  position: absolute;
  left: 18px;
  top: 18px;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
  margin-top: 30px;
}

.photo-report .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}

.photo-report .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.photo-report .author-avatar {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(64, 48, 61, 0.35)), to(rgba(64, 48, 61, 0.35)));
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
}

.photo-report-button {
  color: #ffffff !important;
  background-color: #4592FF;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-report-button:hover {
  color: #fff;
}

.photo-report-button-icon {
  fill: #ffffff;
  margin-right: 8px;
}

.photo-report-button span {
  margin-left: 8px;
}

.photo-report-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo-report-content {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px;
  height: 100%;
  text-align: center;
}

.photo-report-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.other {
  width: calc( 50% - 15px);
}

.other .career-article {
  padding: 35px;
  background-color: #B4D1E0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 370px;
}

.other .career-article .category-link {
  color: #6E99AE;
  font-size: 12px;
  line-height: 15px;
}

.other .career-article-title {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: Roboto Slab;
  font-size: 25px;
  line-height: 30px;
  color: #262D33;
  width: 240px;
}

.other .career-article-description {
  width: 215px;
  color: #4B5157;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 45px;
}

.other .career-article-thumb {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 1;
}

.other .career-article .content {
  position: relative;
  z-index: 2;
}

.other-article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.other-article-container .other-article {
  background-color: #fff;
  width: calc( 50% - 15px);
  border-radius: 10px;
  padding: 25px 25px 30px;
}

.other-article-container .other-article-title {
  color: #262D33;
  font-family: Roboto Slab;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.other-article-container .other-article-description {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-bottom: 10px;
}

.other-article-container .other-article-date {
  font-size: 12px;
  line-height: 15px;
  color: #939699;
}

@media screen and (max-width: 1024px) {
  .special-grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .photo-report {
    width: 100%;
    margin-bottom: 30px;
  }
  .other {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .other-article-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .other-article-container .other-article {
    width: 100%;
  }
  .other-article-container .other-article:not(:last-child) {
    margin-bottom: 30px;
  }
}

.footer {
  background-color: #fff;
  padding: 60px 0 55px;
}

.footer-menu {
  border-top: 3px solid #000;
  padding-right: 20px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.footer-menu:nth-child(1) {
  border-top-color: #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top-color: #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top-color: #4592FF;
}

.footer-menu:nth-child(4) {
  border-top-color: #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top-color: #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top-color: #6E99AE;
}

.footer-menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 60px;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul a {
  text-decoration: none;
  display: inline-block;
  color: #4B5157;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 20px;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-info ul a {
  font-size: 14px;
  line-height: 20px;
  color: #262D33;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-info .widget-link {
  margin: 0 7px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato Black", sans-serif;
}

.footer-text {
  max-width: 750px;
}

.footer-text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #939699;
  font-size: 14px;
  line-height: 20px;
  padding-top: 40px;
}

.footer-text-wrapper p {
  margin-top: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 1024px) {
  .footer-menu-bar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .footer-menu {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    padding-bottom: 40px;
  }
  .footer-info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-info .menu-footer-menu-container {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-nav .menu-item {
    padding: 10px 0;
  }
  .footer-nav .menu-item a {
    margin: 0;
  }
  .footer-text-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-text-wrapper .footer-text {
    width: 100%;
  }
  .footer-copyright {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .footer-info .footer-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info .footer-nav .menu-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer-menu {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
